@page-width: 600px;
.page-width {
  width: @page-width;
  margin: 0 auto;
}

.mask {
  .opacity(20);
  background: @grayLight;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.mask-loading {
  .opacity(40);
  background:@white url(images/loading.gif) no-repeat center;
}

.header {
  @_hh: 42px;
  height: @_hh;
  background-color: #2d2d2d;
  width: 100%;
  z-index: 998;
  .box-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  position: fixed;
  top: 0;

  .menu-wrapper {
    .page-width;
    position: relative;

    .logo {
      position: absolute;
      left: 0;
      top: 0;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      line-height: @_hh;
    }

    ul {
      margin: 0;
    }

    ul.menu {
      margin-left: 100px;
      width: 500px;
      float: left;

      li {
        float: left;

        a {
          font-size: 15px;
          display: list-item;
          padding: 0 16px;
          height: @_hh;
          line-height: @_hh;
          color: #ccc;

          &:hover, &.checked {
            text-decoration: none;
            color: #fff;
            background-color: #000;
          }
        }
      }

      li.right {
        float: right;
      }
    }

    ul.user {
      position: absolute;
      right: 0;
      top: 4px;
      li {
        float: left;
        margin-left: 15px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        * { vertical-align: middle; }

        & > span, & > a {
          color: #fff;
          font-size: 15px;
        }
      }
    }
  }
}

.top-messager {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 999;
  top: -32px;
  .alert {
    display: inline-block;
    font-size: 12px;
    max-width: 500px;
    border-top-width: 0;
    .border-radius(0 0 4px 4px);
    cursor: pointer;
    //.opacity(95);
    .box-shadow(0px 1px 4px rgba(0,0,0,.25));
  }
}

.body {
  @border: 1px solid #eee;
  position: relative;
  padding: 72px 0 40px;
  z-index: 1;
  .page-width;
  .title-bar {
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
    height: 38px;
    &.border {
      border-bottom: @border;
    }

    h3 {
      line-height: 38px;
      font-size: 24px;
      font-weight: normal;
      margin: 0;
      padding: 0;
      color: #444;
      position: absolute;
      top: 0;
      left: 0;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    }

    &.userinfo {
      border: @border;
      border-width: 1px 0 1px;
    }

    .right {
      padding-right: 6px;
      li {
        float: right;
      }
    }
  }

  .tab-content {
    display: none;
    min-height: 350px;
    &.selected {
      display: block;
    }

    form {
      padding: 10px 0;
    }
  }

  .content {
    margin-top: 15px;

    .word {
      padding: 8px 0;
      margin: 0;
      color: #666;
      font-size: 12px;
      border-top: 1px dashed #e9e9e9;
      &:last-child {
        border-top: 1px dashed #e9e9e9;
      }
      position: relative;
      .opacity(60);

      dt {
        font-weight: normal;
        color: #333;
        font-size: 18px;
        padding: 0 10px;
        line-height: 22px;
        border-left: 4px solid #999;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
      }

      dd {
        margin: 10px 0 0 14px;
        position: relative;
        display: none;

        .control-label {
          width: 30px;
          text-align: left;
        }

        .controls {
          margin-left: 50px;
        }

        .btn {
          margin-right: 10px;
          &.remove { .btn-inverse; }
          &.success { .btn-success; }
          &.warning { .btn-warning; }
        }
      }

      &.activated {
        .opacity(100);
        dd {
          display: block;
        }
      }
    }
  }

}

.footer {
  clear: both;
  border-top: 1px dotted #e5e5e5;
  background-color: #f5f5f5;
  width: 100%;
  font-size: 12px;
  margin: 20px auto 0;
  color: #999;
  padding: 10px 0;
  position: fixed;
  z-index: 999;
  bottom: 0;

  .text {
    .page-width;
  }
}

.openbox {
  position: absolute;
  .border-radius(5px);
  background-color: @white;
  border: solid 1px #ddd;
  .box-shadow(0px 2px 6px rgba(0,0,0,0.2));
  .loading {
    min-width: 300px;
    min-height: 180px;
    .mask-loading;
  }

  .title-bar {
    .gradientBar(@white, darken(@white, 8%));
    height:28px;
    line-height:28px;
    border-bottom: solid 1px #ddd;
    .border-radius(5px 5px 0 0);

    span {
      font-size: 14px;
      text-shadow: 1px 2px 3px #ccc;
      font-weight:bold;
      color:#333;
      padding-left:10px;
    }

    .button {
      width: 16px;
      height: 16px;
      display: block;
      float: right;
      margin: 6px 5px 0 0;
      background: url(images/openbox.png) no-repeat 0 0;
      .opacity(100);

      &.close    { background-position: 0 0; }
      &.minimize   { background-position: -24px 0; }
    }
  }

  .content {
    padding: 15px 20px 0;
  }
}
