<p>
    {%- if model.phon -%}
        [<span class="phon">{{ model.phon|safe }}</span>]
    {%- endif -%}
    {%- if model.sound -%}
    <i onclick="this.getFirst().play()" class="icon-audio">
        <audio><source src="{{ model.sound }}" type="audio/{{ model.sound|get_ext }}"></audio>
    </i>
    {%- endif -%}
</p>
<p class="pos">{{ model.pos }}</p>
<p>{{ model.def }}</p>
{%- if model.sent -%}
<p class="sent">{{ model.sent }}</p>
{%- endif -%}
{%- if model.note -%}
<p>{{ model.note }}</p>
{%- endif -%}

