{%- extends theme('base.html') -%}
{%- import theme('_context.html') as h -%}
{%- import theme('_forms.html') as f -%}
{% set active_nav = 'add' %}
{% block body %}
    {% call h.title('Add New Words') %}{% endcall %}
    <div class="content" id="add_form">
        <div class="control-group">
            {{ f.textarea(id='ta_words', rows=8) }}<br />
            A line of a word or phrase
        </div>
        <div class="control-group">
            Import words: <input type="file" style="width:100px;" id="file_words" />
        </div>
        <div class="control-group">
            <button type="button" id="btn_words" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="content word-list" id="word_list"></div>
    <script type="text/javascript">
        (function () {
            var dict = new Dictionary('word_list', {
                saveUrl: '{{ url_for(".add") }}',
                api: [
                    //{ id: 'webster', url: '{{ url_for("api.webster", word="") }}{word}' }
                    { id: 'dict', url: '{{ url_for("api.dct", word="") }}{word}' }
                ],
                onComplete: function () {
                    $('ta_words').set('value', '');
                    $('add_form').slide('in');
                }
            });
            $('btn_words').addEvent('click', function() {
                var words = $('ta_words').get('value').split('\n').filter(function (w) {
                    return w.trim().length > 0;
                });

                if (words.length == 0) {
                    $g.alert('至少填一个单词.', 'error');
                    return;
                }

                $('add_form').slide('out');
                dict.addWords(words).show();
            });
            $('file_words').addEvent('change', function () {
                var file = this.files[0];
                var reader = new FileReader();
                reader.onload = function(e){
                    $('ta_words').set('value', e.target.result);
                };
                reader.readAsText(file);
            });
        })();
    </script>
{% endblock %}