{%- extends theme('base.html') -%}
{%- import theme('_context.html') as h -%}
{%- import theme('_forms.html') as f -%}
{% set active_nav = 'add' %}
{% block body %}
    {% call h.title('单词入库') %}{% endcall %}
    <div class="content" id="add_form">
        <div class="control-group">
            {{ f.textarea(id='ta_words', rows=8) }}<br />
            一行一个单词或词组，最多200条
        </div>
        <div class="control-group">
            <button type="button" id="btn_words" class="btn btn-primary">确 定</button>
        </div>
    </div>
    <div class="content" id="word_list"></div>
    <script type="text/javascript">
        (function () {
            var dict = new Dictionary('word_list', {
                api: {
                    'iciba': '{{ url_for(".iciba") }}'
                },
                onComplete: function () {
                    $('add_form').slide('in');
                }
            });
            $('btn_words').addEvent('click', function() {
                var words = $('ta_words').get('value').split('\n').filter(function (w) {
                    return w.trim().length > 0;
                });

                if (words.length == 0) {
                    $g.alert('至少填一个单词.', 'error');
                    return;
                }

                $('ta_words').set('value', '');
                $('add_form').slide('out');
                dict.addWords(words).showFirst();
            });
        })();
    </script>
{% endblock %}