{%- extends theme('base.html') -%}
{%- import theme('_context.html') as h -%}
{%- import theme('_forms.html') as f -%}
{% block title %}Login{% endblock %}
{% block body %}
    {% call h.title('User Login') %}{% endcall %}
    <div class="content">
        {% call f.form('login_form') %}
            {% call f.control('Email', '') %}
                {{ f.input(name="email", id="email", validate="{required:true, type:'email'}") }}
            {% endcall %}

            {% call f.control('Password', '') %}
                {{ f.input(name="password", type="password", validate="{required:true}") }}
            {% endcall %}

            {% call f.control('') %}
                {{ f.checkbox('remember', text='Remember me!') }}
            {% endcall %}

            {% call f.control('') %}
                <button type="submit" id="btn_login" class="btn btn-primary">Login</button>
                <a style="margin-left: 5px;" href="">Forgot password?</a>
                <a style="margin-left: 5px; display: none;" href="{{ url_for('account.register') }}">Register</a>
            {% endcall %}
        {% endcall %}
    </div>
    <script type="text/javascript">
        (function () {
            $('email').focus();
            var validator = $g.initValidator('login_form', { successHtml: '' });
            $('login_form').addEvent('submit', function (event) {
                event.preventDefault ? event.preventDefault() : event.returnValue = false;
                $g.saveForm({
                    button: this,
                    form: 'login_form',
                    validator: validator,
                    url: '{{ url_for(".login") }}',
                    success: function (json) {
                        var data = { status: json.status == 1 };
                        window.location.href = '{{ next }}';
                    }
                });
            });
        })();
    </script>
{% endblock %}
