{% macro form(id=none, action=none, btns=[]) -%}
    <form method="post" {% if id %}id="{{ id }}"{% endif %} {% if action %}action="{{ action }}"{% endif %} class="form-horizontal">
        <div class="control-wrapper">
            {{ caller() }}
        </div>
        {% if btns %}{{ actions(btns) }}{% endif %}
    </form>
{%- endmacro %}

{% macro control(label, help=none, id=none, className=none, noPadding=false, helpBlock=false) -%}
    <div class="control-group{% if className %} {{ className }}{% endif %}"{% if id %} id="{{ id }}"{% endif %}>
        <label class="control-label{% if noPadding %} no-padding{% endif %}">{{ label|safe }}</label>
        <div class="controls">
            {{ caller() }}
            {%- if help is not none %}<span class="help-{%- if helpBlock -%}block{%- else -%}inline{%- endif -%}">{{ help }}</span>{% endif -%}
        </div>
    </div>
{%- endmacro %}

{%- macro actions(btns) %}
    <div class="form-actions">
    {%- for btn in btns %}
        <button type="{{ btn[1] }}" onclick="{{ btn[2] }}" class="btn{% if btn[1] == 'submit' %} btn-primary{% endif %}">{{ btn[0] }}</button>
    {% endfor -%}
    </div>
{% endmacro -%}

{% macro _key_value(name, value) -%}
    {% if value %}{{ name }}="{{ value }}"{% endif %}
{%- endmacro %}

{%- macro input(name='', type='text', id=none, value='', readonly=false, class='input-large', placeholder='', validate=none) -%}
    <input name="{{ name }}" type="{{ type }}" id="{{ id or get_uid() }}" placeholder="{{ placeholder }}" {% if readonly %}readonly="readonly"{% endif %} value="{{ value or '' }}" {{ _key_value('validate', validate) }} class="{{ class }}" />
{%- endmacro -%}

{%- macro textarea(name='', id=none, rows=4, class='span6', validate=none, value='', readonly=false) -%}
    <textarea rows="{{ rows }}" id="{{ id or get_uid() }}" name="{{ name }}" {% if readonly %}readonly="readonly"{% endif %} {{ _key_value('validate', validate) }} class="{{ class }}">{{ value or '' }}</textarea>
{%- endmacro -%}

{%- macro _choice(type, name='', id=none, value='on', class=none, text='', checked=false) -%}
    {%- set _id=id or get_uid() -%}
    {# <p class="input {{ type }}"><input type="{{ type }}" id="{{ _id }}" {{ _key_value('class', class) }} name="{{ name }}" {{ 'checked' if checked else '' }} value="{{ value }}" /><label for="{{ _id }}">{{ text }}</label></p> #}
    <label class="{{ type }} {{ class or '' }}"><input type="{{ type }}" name="{{ name }}" id="{{ _id }}" {{ 'checked' if checked else '' }} value="{{ value }}" />{{ text }}</label>
{%- endmacro -%}

{%- macro checkbox(name='', id=none, value='on', class='checkbox', text='', checked=false) -%}
    {{ _choice('checkbox', name=name, id=id, value=value, class=class, text=text, checked=checked) }}
{%- endmacro -%}

{%- macro radio(name='', id=none, value='on', class='checkbox', text='', checked=false) -%}
    {{ _choice('radio', name=name, id=id, value=value, class=class, text=text, checked=checked) }}
{%- endmacro -%}

